*.avi
*.mp4
*.jpg
*.pyc
*.csv
*.png
*.pdf
*.log
*.xlsx
*.nb.html
*.npz
**/.ipynb_checkpoints
**/sports1m_finetuning_ucf101.model
ucf101/**/*.txt
**/visual_logs/*
hmdb51/c3d-tensorflow/list/*.txt
ucf101/C3D-tensorflow-master/models/*
ucf101/C3D-tensorflow-master/saved_models/*
ucf101/C3D-tensorflow-master/visual_logs/*
ucf101_all_frames/C3D-tensorflow-master/models/*
ucf101_all_frames/C3D-tensorflow-master/saved_models/*
ucf101_all_frames/C3D-tensorflow-master/visual_logs/*